resize-right
ipywidgets
ipython
lpips 
anvil-uplink
pyimgur
transformers
sentencepiece
sacremoses
opencc
omegaconf>=2.0.0 
pytorch-lightning>=1.0.8
torch-fidelity
einops
requests
beautifulsoup4
faiss-cpu
sentence-transformers
pandas